<div class="field col-md-2 nameinput">
  <%= text_field_tag "parcel[0][name]", "", class: "namefield", required: true %>
</div>

<div class="field col-md-2">
  <%= number_field_tag "parcel[0][quantity]","", required: true %>
</div>

<div class="field col-md-2">
  <%= text_field_tag "parcel[0][phone]","", required: true %>
</div>

<div class="field col-md-2">
  <%= text_field_tag "parcel[0][courier]" %>
</div>

<div class="field col-md-4">
  <%= text_field_tag "parcel[0][remarks]" %>
</div> 