<div class = "row">
<%= render "shared/error_messages" %>
<%= form_tag(parcels_path, method: "post") do |f| %>
  <div class="field col-md-2">
    <%= label_tag "Name" %>
  </div>

  <div class="field col-md-2">
    <%= label_tag "Quantity" %>
  </div>

  <div class="field col-md-2">
    <%= label_tag "Phone" %>
  </div>

  <div class="field col-md-2">
    <%= label_tag "Courier" %>
  </div>

  <div class="field col-md-4">
    <%= label_tag "Remarks" %>
  </div>
  
  <div class ="auto_appear">
  <!-- Auto appearing form -->
  <%= render "auto_appear" %>
  </div>
  <div class = "actions">
    <%= submit_tag "Submit" %>
  </div>

<% end %>
  
<script>

  var count = 0;
  var form = document.getElementsByClassName("auto_appear")[0];
 
  var types = ["text","number","text","text","text"];

  document.body.addEventListener("keypress", function(event){
    if (event.target.classList.contains("namefield") === true){
        event.target.classList.remove("namefield");
        count++;
        var names = [`parcel[${count}][name]`, `parcel[${count}][quantity]`, `parcel[${count}][phone]`, `parcel[${count}][courier]`, `parcel[${count}][remarks]`]; 
        container = document.createElement("DIV");
        container.id = "form-" + count;
        for (var i = 0; i < 5; i++){
          var div = document.createElement("DIV");
          if (i == 4){
            div.classList.add("col-md-4");
          }else{
            div.classList.add("col-md-2"); 
          }
          div.classList.add("field");
          var field = document.createElement("input");
          field.setAttribute("name", names[i]);
          field.setAttribute("type", types[i]);
          if (i == 0){
            field.classList.add("namefield");
            field.classList.add("nameinput");
          }
          
          div.appendChild(field);
          container.appendChild(div);
        }
       form.appendChild(container);
    }
    
  });
  document.getElementsByClassName("nameinput")[0].addEventListener("keydown", function(event){
    var key = event.keyCode || event.charCode;
    if (key == 8 || key == 46){
       var namefield = event.target;
       if (namefield.value == ""){
         
       }
    }
  });
  
</script>
