<div class = "row">
<%= render "shared/error_messages" %>
<%= form_tag(parcels_path, method: "post") do |f| %>
  <div class="field col-md-2">
    <%= label_tag "Name" %>
  </div>

  <div class="field col-md-2">
    <%= label_tag "Quantity" %>
  </div>

  <div class="field col-md-2">
    <%= label_tag "Phone" %>
  </div>

  <div class="field col-md-2">
    <%= label_tag "Courier" %>
  </div>

  <div class="field col-md-4">
    <%= label_tag "Remarks" %>
  </div>
  
  <div class ="form--auto_appear">
  <!-- Auto appearing form -->
  <%= render "auto_appear" %>
  </div>
  <div class = "actions">
    <%= submit_tag "Submit" %>
  </div>

<% end %>
  
<script>

  var count = 0;
  var form = document.getElementsByClassName("form--auto_appear")[0];
 
  var types = ["text","number","text","text","text"];

  document.body.addEventListener("keypress", function(event){
    if (event.target.classList.contains("namefield") === true){
        count ++;
        var names = [`parcel[${count}][name]`, `parcel[${count}][quantity]`, `parcel[${count}][phone]`, `parcel[${count}][courier]`, `parcel[${count}][remarks]`]; 
        event.target.classList.remove("namefield");
        container = document.createElement("DIV");
        container.id = "form-" + count;        
        for (var i = 0; i < 5; i++){
          var div = document.createElement("DIV");
          if (i == 4){
            div.classList.add("col-md-4");
          }else{
            div.classList.add("col-md-2"); 
          }
          div.classList.add(`field-${count}`);
          div.classList.add("field")
          var field = document.createElement("input");
          field.setAttribute("name", names[i]);
          field.setAttribute("type", types[i]);
          field.setAttribute("onkeydown", "delete_form(event)");
          if (i == 0){
            field.classList.add("nameinput");
            field.classList.add("namefield");
          }
          
          div.appendChild(field);
          container.appendChild(div);
        }
       form.appendChild(container);
    }
    
  });

  function delete_form(event){

    var key = event.keyCode || event.charCode;
    if (key == 8 || key == 46){
      var div = document.getElementsByClassName(event.target.parentNode.classList[1]);
      for (var i=0; i <5; i++){
        value = div[i].childNodes[0].value;
        if (value != "" || div[i].childNodes[0].classList.contains("namefield")){
          return;
        }
      }
      for (var i=0; i < 5; i++){
        x = div[i].childNodes[0];
        x.parentNode.removeChild(x);
      }
    }
    
  };

</script>