<table class = "table">
  <thead>
    <tr>
      <th>Received</th>
      <th>Name</th>
      <th>Quantity</th>
      <th>Phone</th>
      <th>Courier</th>
      <th>Remarks</th>
      <% if current_user.admin? %>
      <th colspan="3">Actions</th>
      <% end %>
    </tr>
  </thead>

  <tbody>

    <% @parcels.each do |parcel| %>
      <tr>
        <td><%= time_ago_in_words(parcel.created_at) %> ago</td>
        <td><%= parcel.name %></td>
        <td><%= parcel.quantity %></td>
        <td><%= parcel.phone %></td>
        <td><%= parcel.courier %></td>
        <td><%= parcel.remarks %></td>
        <% if current_user.admin? %>
        <td><%= link_to 'Edit', edit_parcel_path(parcel) %></td>
        <td><%= link_to 'Claimed', parcel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>